body {
    background-color: #04011bfb;
}
header {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif, sans-serif;/* CAMBIO DE TIPO DE LETRA Y COLOR  */
    color: rgb(252, 241, 241);
}
#inicio {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;  /* tipo de letra */
    color: #e90808;                     /* color del texto */
}
#que-es {
    font-family: "Georgia", serif;
    color: #7b27db;
    background-color: #f0f8ff;
    padding: 15px;
    border-radius: 10px;
}
#que-es img {/* tMARCO DE IMAGEN */
    display: block;
    margin: 10px auto;
    border: 6px solid #276900;
    border-radius: 12px;
}
#tipos {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;   /* tipo de letra */
    background-color: #12df12;        /* color de fondo */
    color: #1d020e;                      /* color del texto */
    padding: 1px;
    border-radius: 10px;
    text-align: center;  /*  CENTRA EL TEXTO */

}
#tipos img{/* tMARCO DE IMAGEN */
    display: block;
    margin: 10px auto;
    border: 6px solid #100069;
    border-radius: 12px;}
   
    


 section{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow',
         'Franklin Gothic Medium', 'Arial Narrow',
          Arial, sans-serif, sans-serif, sans-serif;  /* tipo de letra */
          color: #abf00a;  /* color del texto */
    }